
@tailwind components;
@tailwind utilities;

@layer components {
  .input-wrapper {
    @apply flex;
  }

  .form-input {
    @apply bg-white block w-full px-4 py-2 md:py-4 md:px-6 text-gray-700 leading-none focus:text-gray-500 focus:outline-none antialiased font-sans focus-within:shadow-inner rounded border-2 focus:border-primary-light !important;
  }

  .text-input {
    @apply appearance-none bg-white w-full px-4 lg:px-6 py-2 md:py-4 text-gray-700 leading-none focus:text-gray-500 focus:outline-none antialiased font-sans focus-within:shadow-inner rounded border-2 focus:border-primary-light h-12;
  }

  .textarea-input {
    @apply appearance-none form-input h-28;
  }

  .form-select {
    @apply appearance-none form-input bg-clip-padding bg-no-repeat mr-3 xl:mr-5 h-12;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='accent' d='M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z'/%3E%3C/svg%3E");
    background-position: 100% center;
    background-size: 20px 20px;
  }

  .form-checkbox {
    @apply flex w-full py-1 font-bold text-gray-400 focus-within:text-gray-500 items-center h-12;
  }

  .checkbox-input {
    @apply rounded appearance-none h-5 w-5 border border-gray-500 bg-white checked:bg-accent checked:border-accent checked:border-4;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='white' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3E%3C/svg%3E");
  }

  .checkbox-label {
    @apply pl-3 group-focus:text-primary-dark group-hover:text-primary cursor-pointer;
  }

  .form-button {
    @apply px-4 lg:px-8 md:py-2 h-12 leading-none text-sm font-bold border-2 uppercase transition-colors duration-500 antialiased tracking-wide cursor-pointer rounded !important;
  }

  .form-label {
    @apply text-primary font-bold;
  }
}
